div{
    background-color: rgb(225, 223, 223);
    
}
.card{
    background-color: #87cefa;
    border-left: 5px solid #0c52bc;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
}
.cardImg{
    border-radius: 50%;
}
p{
    margin: 0;
    margin-bottom: 10px;
}